<header class="header">
    <nav class="navbar container">
        <a href="/" class="logo">WebCreate</a>
        
        <ul class="nav-links">
            <li><a href="/auth/login">Giriş</a></li>
            <li><a href="/auth/register">Kayıt</a></li>
        </ul>
    </nav>
</header>